<!-- footer -->
<style>
  footer {padding-top: 10px; }

</style>
<footer class="bg-dark footer-section" style = "padding-top: 20px">
  <div class="section" style = "padding-top: 10px; padding-bottom: 10px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p style = "font-size: 10px;"class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p style = "font-size: 10px;"class="text-white paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p style = "font-size: 10px;" class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div> -->
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>